*{
    margin: 0px;
    padding: 0px;
}

.info{
    position: absolute;
    top: 10px;
    left: 691px;
    display: flex;
    width: 45px;
    cursor: pointer;
}

.screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    border: 8px solid black;
    position: absolute;
    height: 428px;
    width: 750px;
}

#invisible{
    opacity: 0;
    z-index: -3;
}

#visible{
    opacity: 1;
    z-index: 2;
}

.infoAlert{
    border: 1px solid black;
    position: relative;
    top: 3px;
    left: 9px;
    width: 730px;
    height: 406px;
    background: white;
    font-family: cursive;
}

.line{
    -webkit-transform: rotateX(-5deg) rotateY(10deg);
    transform: rotateX(17deg) rotateY(40deg);
    border-bottom: 8px solid black;
    position: relative;
    top: 185px;
    left: -125px;
    z-index: -2;
    width: 1000px;
}

.instrument{
    position: absolute;
    top: 23px;
    left: -129px;
    z-index: -1;
}

.cat{
    width: 242px;
    height: 199px;
    background: url(../images/cat.png);
    position: absolute;
    top: 34px;
    left: 313px;
}

.mouth{
    background-image: url(../images/mouth.png);
}

#whiteCat{
    background-position: -439px -12px;
    background-repeat: no-repeat;
}

.rightPaw{
    background: url(../images/paw-right.png);
}

.leftPaw{
    background: url(../images/paw-left.png);
}


#rightUp{
    background-position: -345px -48px;
    width: 96px;
    height: 84px;
    position: absolute;
    top: 70px;
    left: 220px;
}

#rightDown{
    background-position: -1119px -48px;
    width: 121px;
    height: 137px;
    position: absolute;
    top: 70px;
    left: 194px;
}

#leftUp{
    background-position: -562px -120px;
    width: 56px;
    height: 62px;
    position: absolute;
    top: 144px;
    left: 437px;
}

#leftDown{
    background-position: -1307px -160px;
    width: 131px;
    height: 83px;
    position: absolute;
    top: 185px;
    left: 388px;
}


#openned{
    background-position: -1282px -120px;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 144px;
    left: 350px;
}

#closed{
    background-position: -468px -115px;
    width: 42px;
    height: 20px;
    position: absolute;
    top: 142px;
    left: 340px;
}

#exitText{
    text-align: right;
    width: 725px;
}