.container{ 
    top:118px;
}

.info{
    display: none;
}

.controls{
    touch-action: manipulation;
    font-family: 'Ravi Prakash';
    font-size: 60px;
    color: black;
    text-align: center;
    background-color: white;
    /*border: 4px solid;*/
    position: absolute;
    top: 625px;

    overflow: scroll;
    height: calc(100vh - 735px);
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: inset -6px -4px 0 0px #ccc;
}

.control{
    border: 4px solid;
    margin: 16px;
    height: 85px;

    border-radius: 6px;
    box-shadow: inset -8px -6px 0 0px #ccc;
}

.bigButton{
    width: 771px;
}

.mediumButton{
    width: 365px;
    display: inline-block; 
}

.smallButton{
    width: 122px;
    display: inline-block;
}

.buttonClicked{
    box-shadow: rgb(173, 144, 173) -2px -1px 0px 0px inset;
    background: rgb(237, 237, 237);
}

.textHelp{
    display:none;
}

.infoAlert{
    display: none;
}